@model IEnumerable<Cargo>

@{
    ViewData["Title"] = "Krovinio atsiėmimas";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<h1 style="color: white;">
    @ViewData["Title"].ToString()
</h1>

<table class="table table-dark">
    <thead class="thead-dark">
        <tr>
            <th style="color: white;">ID</th>
            <th style="color: white;">Pavadinimas</th>
            <th style="color: white;">Svoris</th>
            <th style="color: white;">Kodas</th>
            <th style="color: white;" scope="col">Data</th>
            <th style="color: white;" scope="col">Būsena</th>
            <th></th>
        </tr>
    </thead>
    @{
    var orderedCargos = Model.OrderByDescending(c => c.State == "Collected").ThenByDescending(c => c.State == "Prepared");
    }
    <tbody>
        @foreach (var cargo in orderedCargos)
        {
            <tr>
                <td>@cargo.ID</td>
                <td>@cargo.Name</td>
                <td>@cargo.Weight</td>
                <td>@cargo.Code</td>
                <td>@cargo.AcceptanceDate</td>
                <td>@cargo.State</td>
                <td>
                    @if (cargo.State == "Delivered")
                    {
                        <form asp-controller="Client" asp-action="PrepareCargo" method="post">
                            <input type="hidden" name="id" value="@cargo.ID" />
                            <button type="submit" class="btn btn-primary">Paruošti</button>
                        </form>
                    }
                    @if (cargo.State == "Prepared")
                    {
                        <form asp-controller="Client" asp-action="CollectCargo" method="post">
                            <input type="hidden" name="id" value="@cargo.ID" />
                            <button type="submit" class="btn btn-success">Atsiimti</button>
                        </form>
                    }
                    @if (cargo.State == "Collected")
                    {
                        @if (TempData["GateInfo_" + cargo.ID] != null)
                        {
                            <div class="gate-info">
                                @TempData["GateInfo_" + cargo.ID]
                            </div>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<button onclick="window.history.back()" class="btn btn-secondary">Grįžti</button>