@model IEnumerable<Cargo>

@{
    ViewData["Title"] = "Krovinio atsiėmimas";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<h1 style="color: white;">
    @ViewData["Title"].ToString()
</h1>

<table class="table table-dark">
    <thead class="thead-dark">
        <tr>
            <th style="color: white;">ID</th>
            <th style="color: white;">Pavadinimas</th>
            <th style="color: white;">Svoris</th>
            <th style="color: white;">Kodas</th>
            <th style="color: white;" scope="col">Data</th>
            <th style="color: white;" scope="col">Būsena</th>
            @if (Model.Any(c => !string.IsNullOrEmpty(c.Gate) && c.State != "Collected"))
            {
                <th style="color: white;" scope="col">Atsiėmimo vieta</th>
            }
            <th></th>
        </tr>
    </thead>
    @{
        var orderedCargos = Model.OrderByDescending(c => c.State == "Collected").ThenByDescending(c => c.State == "Prepared");
    }
    <tbody>
        @foreach (var cargo in orderedCargos)
        {
            <tr>
                <td>@cargo.ID</td>
                <td>@cargo.Name</td>
                <td>@cargo.Weight</td>
                <td>@cargo.Code</td>
                <td>@cargo.AcceptanceDate.ToShortDateString()</td>
                <td>@cargo.State</td>
                @if (!string.IsNullOrEmpty(cargo.Gate) && cargo.State != "Collected")
                {
                    <td>@cargo.Gate</td>
                }
                else if (Model.Any(c => !string.IsNullOrEmpty(c.Gate) && c.State != "Collected"))
                {
                    <td></td>
                }
                <td>
                    @if (cargo.State == "Delivered")
                    {
                        <form asp-controller="Client" asp-action="PrepareCargo" method="post">
                            <input type="hidden" name="id" value="@cargo.ID" />
                            <button type="submit" class="btn btn-primary">Paruošti</button>
                        </form>
                    }
                    else if (cargo.State == "Prepared" && string.IsNullOrEmpty(cargo.Gate))
                    {
                        <form asp-controller="Client" asp-action="ShowGateInfo" method="post">
                            <input type="hidden" name="id" value="@cargo.ID" />
                            <button type="submit" class="btn btn-success">Atsiimti</button>
                        </form>
                    }
                    else if (!string.IsNullOrEmpty(cargo.Gate) && cargo.State != "Collected")
                    {
                        <form asp-controller="Client" asp-action="ConfirmCollectedCargo" method="post">
                            <input type="hidden" name="id" value="@cargo.ID" />
                            <button type="submit" class="btn btn-success">Atsiimtas</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<button onclick="window.history.back()" class="btn btn-secondary">Grįžti</button>
