@model Cargo

@{
    ViewData["Title"] = "Krovinio informacija";
}
<h1 style="color: white;">
    @ViewData["Title"].ToString()
</h1>

<div class="card text-white bg-dark mb-3">
    <div class="card-header">Krovinio ID: @Model.ID</div>
    <div class="card-body">
        <h5 class="card-title">Pavadinimas: @Model.Name</h5>
        <p class="card-text">Svoris: @Model.Weight</p>
        <p class="card-text">Kodas: @Model.Code</p>
        <p class="date">Data: @Model.AcceptanceDate</p>
        <p class="date">Būsena: @Model.State</p>
        @if (!string.IsNullOrEmpty(Model.Gate))
        {
            <p class="date">Atsiėmimo vieta: @Model.Gate</p>
        }
    </div>
</div>
<a href="@Url.Action("ViewCargoState", "Client")" class="btn btn-info">Grįžti</a>
