@model IEnumerable<Lot>

@{
    ViewData["Title"] = "Aikštelės";
}

<h1 style="color: white;">
    @ViewData["Title"].ToString()
</h1>
<h2 style="color: white;">Įvedimas</h2>
<div>
    @Html.Partial("LotInsertForm", new Lot())
</div>
<br />
<h2 style="color: white;">Aikštelų sąrašas</h2>
<table class="table table-dark">
    <thead class="thead-dark">
        <tr>
            <th style="color: white;" scope="col">ID</th>
            <th style="color: white;" scope="col">Kodas</th>
            <th style="color: white;" scope="col">Ilgis</th>
            <th style="color: white;" scope="col">Plotis</th>
            <th style="color: white;" scope="col">Aukštis</th>
            <th style="color: white;" scope="col">Veiksmas</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lot in Model)
        {
            <tr>
                <td>
                    @lot.ID
                </td>
                <td>
                    @lot.Code
                </td>
                <td>
                    @lot.X_Dim.ToString()
                </td>
                <td>
                    @lot.Y_Dim.ToString()
                </td>
                <td>
                    @lot.Z_Dim.ToString()
                </td>
                <td>
                    <form asp-controller="Admin" asp-action="DeleteLot" method="post">
                        <input type="hidden" name="id" value="@lot.ID" />
                        <button type="submit" class="btn btn-danger">Ištrinti</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>