@model IEnumerable<User>

@{
    ViewData["Title"] = "Vartotojai";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}
<h1 style="color: white;">
    @ViewData["Title"].ToString()
</h1>
<h2 style="color: white;">Įvedimas</h2>
<div>
    @Html.Partial("UserInsertForm", new User())
</div>
<br />
<h2 style="color: white;">Vartotojų sąrašas</h2>
<table class="table table-dark">
    <thead class="thead-dark">
        <tr>
            <th style="color: white;" scope="col">ID</th>
            <th style="color: white;" scope="col">Vartotojas</th>
            <th style="color: white;" scope="col">Slaptažodis</th>
            <th style="color: white;" scope="col">Role</th>
            <th style="color: white;" scope="col">Veiksmas</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.ID
                </td>
                <td>
                    @user.Username
                </td>
                <td>
                    @user.Password
                </td>
                <td>
                    @user.UserRole
                </td>
                <td>
                    <form asp-controller="Admin" asp-action="DeleteUser" method="post">
                        <input type="hidden" name="id" value="@user.ID" />
                        <button type="submit" class="btn btn-danger">Ištrinti</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>