@model IEnumerable<Tracktor>

@{
    ViewData["Title"] = "Autonominiai Traktoriai";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}
<h1 style="color: white;">
    @ViewData["Title"].ToString()
</h1>
<br />
<h2 style="color: white;">Traktoriu sąrašas</h2>
<table class="table table-dark">
    <thead class="thead-dark">
        <tr>
            <th style="color: white;" scope="col">ID</th>
            <th style="color: white;" scope="col">Modelis</th>
            <th style="color: white;" scope="col">Krovinio ID</th>
            <th style="color: white;" scope="col">Krano ID</th>
            <th style="color: white;" scope="col">Statusas</th
        </tr>
    </thead>
    <tbody>
        @foreach (var ship in Model)
        {
            <tr style="color: white;">
                <td style="color: white;">
                    @ship.TracktorID
                </td>
                <td>
                    @ship.Model
                </td>
                <td>
                    @ship.CargoID   
                </td>
                <td>
                    @ship.CraneID
                </td>
                <td>
                    @ship.Status
                </td>
            </tr>
        }
    </tbody>
</table>